body {
    font-family: Helvetica, Tahoma, Arial, clean, sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

div.description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.statement {
    clear: both;
    border: 1px dotted #ffffff;
    background-color: #dbdbdb;
}

div.property {
    float: left;
    font-weight: bold;
    text-align: right;
    width: 12em;
}

div.content {
    background-color: #FFFFFF;
    margin-left: 12.25em;
}

div.content p, div.property p {
    margin: 0 0;
    padding: 0.25em;
}

div.clear {
    clear: both;
}

div.about {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    font-size: smaller;
}