<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean name="/browse" class="net.metadata.dataspace.controller.BrowseController"/>
    <bean name="/search" class="net.metadata.dataspace.controller.SearchController"/>
    <bean name="/lookup" class="net.metadata.dataspace.controller.LookupController"/>
    <bean name="/anzsrc" class="net.metadata.dataspace.controller.ANZSRCCodesController"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>