<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
    xmlns:util="http://www.springframework.org/schema/util">

	<context:component-scan base-package="net.metadata.dataspace.controller" />

    <bean id="urlMapping"
        class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <!-- <ref bean="openSessionInViewInterceptor" /> -->
            </list>
        </property>
        <property name="mappings">
            <props>
                <prop key="/registry.atomsvc">registryServiceServletForward</prop>
                <prop key="/login">registryServiceServletForward</prop>
                <prop key="/activities*">registryServiceServletForward</prop>
                <prop key="/activities/**">registryServiceServletForward</prop>
                <prop key="/agents*">registryServiceServletForward</prop>
                <prop key="/agents/**">registryServiceServletForward</prop>
                <prop key="/collections*">registryServiceServletForward</prop>
                <prop key="/collections/**">registryServiceServletForward</prop>
                <prop key="/services*">registryServiceServletForward</prop>
                <prop key="/services/**">registryServiceServletForward</prop>
            </props>
        </property>
    </bean>

    <mvc:annotation-driven />

    <!-- No idea why one of these is needed, but if it's not there then
    the SimpleUrlHandlerMapping doesn't behave. -->
	<mvc:view-controller path="/dummy" view-name="dummy" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="registryServiceServletForward"
		class="org.springframework.web.servlet.mvc.ServletForwardingController">
		<property name="servletName">
			<value>registryServiceServlet</value>
		</property>
		<property name="supportedMethods">
		  <bean factory-bean="supportedMethodList" factory-method="toArray"/>
		</property>
	</bean>


    <util:list id="supportedMethodList" value-type="java.lang.String">
      <value>GET</value>
      <value>POST</value>
      <value>PUT</value>
      <value>DELETE</value>
      <value>HEAD</value>
      <value>OPTIONS</value>
    </util:list>

    <mvc:default-servlet-handler/>

</beans>