<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

    <display-name>Seeding the Commons</display-name>
    <description>Seeding the Commons project</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/conf/spring/applicationContext.xml</param-value>
    </context-param>

    <context-param>
        <param-name>properties</param-name>
        <param-value>conf/oai/oaicat.properties</param-value>
    </context-param>

    <context-param>
        <param-name>springServlets</param-name>
        <param-value>classpath:/conf/spring/springmvc-servlet.xml</param-value>
    </context-param>

    <!--Listeners-->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!--Servlets-->
    <servlet>
        <servlet-name>registryServiceServlet</servlet-name>
        <servlet-class>net.metadata.dataspace.servlets.RegistryServiceProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oaipmhServlet</servlet-name>
        <servlet-class>net.metadata.dataspace.servlets.OAIPMHServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--Servlet Mappings-->
    <servlet-mapping>
        <servlet-name>registryServiceServlet</servlet-name>
        <url-pattern>/agents/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registryServiceServlet</servlet-name>
        <url-pattern>/collections/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registryServiceServlet</servlet-name>
        <url-pattern>/activities/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registryServiceServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registryServiceServlet</servlet-name>
        <url-pattern>/registry.atomsvc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registryServiceServlet</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registryServiceServlet</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oaipmhServlet</servlet-name>
        <url-pattern>/oai/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/lookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/anzsrc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file id="welcome-page">index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
