<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

    <display-name>Seeding the Commons</display-name>
    <description>Seeding the Commons project</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/conf/spring/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>


    <servlet id="abdera">
        <servlet-name>Abdera</servlet-name>
        <servlet-class>org.apache.abdera.protocol.server.servlet.AbderaServlet</servlet-class>
        <!--<init-param>-->
        <!--<param-name>org.apache.abdera.protocol.server.ServiceContext</param-name>-->
        <!--<param-value>org.apache.abdera.examples.appserver.SimpleServiceContext</param-value>-->
        <!--</init-param>-->
    </servlet>

    <servlet-mapping id="abdera-mapping">
        <servlet-name>Abdera</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--<servlet id="abdera">-->
    <!--<servlet-name>Abdera</servlet-name>-->
    <!--<servlet-class>net.metadata.dataspace.servlets.EmployeeProviderServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping id="abdera-mapping">-->
    <!--<servlet-name>Abdera</servlet-name>-->
    <!--<url-pattern>/employee/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet id="party">
        <servlet-name>party</servlet-name>
        <servlet-class>net.metadata.dataspace.servlets.PartyProviderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>party</servlet-name>
        <url-pattern>/party/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file id="welcome-page">index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
