<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:registry.properties</value>
                <value>classpath:revision.properties</value>
            </list>
        </property>
    </bean>

    <bean id="applicationContext" class="net.metadata.dataspace.app.DataRegistryApplicationContext">
        <property name="version" value="${data.registry.version}.${data.registry.revision}"/>
    </bean>

    <bean id="dataRegistryApplication" class="net.metadata.dataspace.app.DataRegistryApplication">
        <property name="configuration" ref="applicationContext"/>
    </bean>
</beans>