body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body a {
    color: #54AAF6;
    font-size: 0.8em;
    text-decoration: none;
}

.wrapper {
    width: 80%;
    border: 1px solid #888;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    background: #fff;
    padding: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 600px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    font-family: Helvetica, Arial, sans-serif;
}

.content ul {
    margin: 0em 0 1em 0;
}

.content ul li {
    margin-top: 10px;
}

.content ul li b {
    font-weight: bold;
}

.footer {
    bottom: 0;
    font-size: 0.7em;
    left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    text-align: center;
    width: 100%;
}

.footer a {
    font-size: 1em;
}