body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
}

body a {
    font-size: 1em;
    text-decoration: none;
}

.wrapper {
    width: 80%;
    border: 1px solid #888;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    background: #fff;
    padding: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 600px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    font-family: Helvetica, Arial, sans-serif;
}

.content ul {
    margin: 0em 0 1em 0;
}

.content ul li {
    margin-top: 10px;
}

.content ul li b {
    font-weight: bold;
}

#result h2 {
    margin-bottom: 0.5em;
}

#result .record {
    border-top: 1px dashed #BE87E9;
    padding: 0.3em;
}

#result .record-date {
    font-size: 0.8em;
    color: #888;
}

/* Global, Common and Reset Settings
-----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0pt none;
    margin: 0pt;
    padding: 0pt;
    background: transparent none repeat scroll 0% 0%;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0pt;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    background: rgb(255, 255, 255) url('../images/bg-body.png') repeat-x scroll 0pt 400px;
}

body {
    background: transparent url('../images/bg-header.jpg') no-repeat scroll 100% 0pt;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a img, :link img, :visited img {
    border: none
}

ul, ol {
    list-style: none
}

address {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0pt;
}

:link, :visited {
    text-decoration: none
}

.clear-bg {
    clear: both;
    margin-bottom: 5px;
}

.clear-right {
    clear: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.hide {
    display: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    border-bottom: 1px solid;
}

.highlight {
    background: rgb(255, 255, 204);
}

.img-left {
    float: left;
    margin: 4px 10px 4px 0;
}

.img-right {
    float: right;
    margin: 4px 0 4px 10px;
}

.nopadding {
    padding: 0;
}

.noindent {
    margin-left: 0;
    padding-left: 0;
}

.nobullet {
    list-style: none;
    list-style-image: none;
}

.header-print {
    display: none;
}

.clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* For Print
-----------------------------------------------------------------------------*/
div#wordmark {
    display: none;
    visibility: hidden;
}

/* Typography
-----------------------------------------------------------------------------*/
h1 {
    margin: 0 0 15px 0;
    padding: 0;
    font: normal 32px Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
}

h1 a, h3 a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    border-bottom: none;
}

h1 a:hover, h3 a:hover {
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 5px 0 0 0;
    line-height: 150%;
    color: rgb(34, 34, 34);
    font: normal 22px Arial, Helvetica, sans-serif;
}

h2 a {
    color: rgb(34, 34, 34);
    text-decoration: underline;
}

h2 a:hover {
    text-decoration: none;
}

h3 {
    margin: 0;
    padding: 0;
    color: rgb(34, 34, 34);
    font: normal 26px Arial, Helvetica, sans-serif;
}

h3 a {
    color: rgb(34, 34, 34);
    text-decoration: none;
}

h4 {
    margin: 0 0 0 0;
    padding: 5px 0;
    font: normal 18px Arial, Helvetica, sans-serif;
    color: rgb(51, 0, 51);
}

h5 {
    margin: 0 0 0 0;
    padding: 5px 0;
    font: bold 16px Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
}

h6 {
    margin: 32px 0 12px 0;
    padding: 0;
    line-height: 150%;
    color: rgb(34, 34, 34);
    font: normal 18px Arial, Helvetica, sans-serif;
    border-top: 4px solid rgb(224, 224, 224);
}

/* Header + Body
-----------------------------------------------------------------------------*/
#header {
    margin: 0pt;
    padding: 0pt;
    background: rgb(96, 34, 124) url('../images/bodybg.gif') repeat-x scroll 0pt 0pt;
    color: rgb(239, 239, 239);
    height: 100px;
}

#header-inner, #topnav-inner {
    margin: 0pt auto;
    padding: 0pt;
    width: 1000px;
}

#header-inner h1 {
    margin: 26px 0 0 25px;
    text-indent: -9999px;
    z-index: 9999;
    position: absolute;
}

#header-inner h1 a {
    background: transparent url('../images/masthead-logo.gif') no-repeat scroll 0pt 0pt;
    display: block;
    height: 50px;
    text-decoration: none;
    width: 182px;
}

#header-inner h2 {
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-size: 24px;
    height: 40px;
    margin: 26px 0 0 220px;
    padding-left: 15px;
    padding-top: 10px;
    position: absolute;
}

#header-inner h2 a {
    color: #FFFFFF;
}

#mininav {
    margin: 0pt;
    padding: 10px 20px 8px 0;
    color: rgb(255, 255, 255);
    font-size: 9px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: lighter;
    float: right;
}

#mininav ul {
    margin: 0pt;
    padding: 5px 0 0 15px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    letter-spacing: 1px;
}

#mininav ul li {
    margin: 0pt 0.8em 0pt 0pt;
    padding: 0pt;
    float: left;
    display: inline;
}

#mininav a {
    text-transform: uppercase;
    font-weight: bold;
}

#mininav a:link {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

#mininav a:visited {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

#mininav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#mininav a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#topnav {
    margin: 0pt;
    padding: 8px 0pt;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: lighter;
    text-align: right;
}

#topnav ul {
    margin: 0pt;
    padding: 2pt 0pt 0pt 25px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    letter-spacing: 1px;
}

#topnav ul li {
    margin: 0 30px 0 0;
    padding: 0 0 0 0;
    float: left;
    display: inline;
}

#topnav ul li a {
    text-transform: uppercase;
    margin: 0 0 0 -8px;
    padding: 12px 8px 12px 8px;
}

#topnav li a:link {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

#topnav li a:visited {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

#topnav li a:hover {
    color: rgb(245, 225, 255);
    text-decoration: none;
    background: transparent url('../images/top_nav_bg_active.gif') repeat-x scroll right bottom;
    border-bottom: 1px solid rgb(229, 229, 229);
}

#topnav li a:active {
    color: rgb(245, 225, 255);
    text-decoration: none;
    border-bottom: 1px solid rgb(229, 229, 229);
}

div#search {
    background: transparent url('../images/form-left.png') no-repeat scroll 0pt 0pt;
    position: absolute;
    top: 40px;
    margin: 0 0 0 775px;
}

div#search form {
    margin: 0pt;
    padding: 0pt;
    width: 210px;
}

div#search label {
    display: block;
    float: left;
    width: 30px;
    height: 18px;
}

div#search label span {
    display: none;
}

div#search input {
    border: 0pt none;
    margin: 0 0 0 0;
    padding: 4px 0 0 0;
    background: transparent none repeat scroll 0% 0%;
    float: left;
    width: 142px;
    height: 18px;
    font-size: 11px;
    color: rgb(0, 0, 0);
    font-family: verdana, arial;
}

div#search input.submit {
    margin: 0pt 0pt 0pt 3px;
    padding: 0pt;
    background: transparent url('../images/form-right.png') no-repeat scroll 0pt 0pt;
    float: left;
    cursor: pointer;
    width: 20px;
    height: 22px;
}

#search label {
    display: none;
    visibility: hidden;
}

/* Footer
-----------------------------------------------------------------------------*/
.version-footer {
    bottom: 0;
    font-size: 0.7em;
    margin: 1em auto;
    position: relative;
    width: 960px;
}

#footer {
    background: rgb(8, 68, 125) url('../images/bg-footer.gif') repeat-x scroll 100% 0pt;
    border-top: solid 2px #78b800;
}

#footer {
    clear: both;
    min-height: 140px;
    height: 220px ! important;
    margin-top: 20px;
}

#footer .footer-wrapper {
    margin: 40px auto;
    position: relative;
    top: 0;
    width: 960px;
}

#footer div {
}

#footer li a, #navResources p a, .campus a, .directions a {
    border-bottom: 1px solid rgb(108, 93, 94);
    color: rgb(241, 241, 241);
    cursor: pointer;
}

#footer li a:hover, #navResources p a:hover, .campus a:hover, .directions a:hover {
    border-bottom: 1px solid rgb(73, 59, 60);
    color: rgb(221, 212, 213);
}

#siteinfo {
    padding: 0 0 0 5px;
    width: 200px;
    float: left;
    color: rgb(255, 255, 255);
}

#siteinfo {
    font-size: 11px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

#siteinfo .org {
    font-weight: bold;
}

#siteinfo address {
    font-style: normal;
}

#siteinfo .org {
    margin: 0 0 10px 0;
    height: 38px;
    width: 200px;
}

#siteinfo .org a {
    overflow: hidden;
    background-image: url('../images/uq-logo.gif') ! important;
    background-repeat: no-repeat ! important;
    background-color: transparent ! important;
    display: block;
    height: 38px;
    text-indent: -1000px;
}

#siteinfo .adr {
    margin: 0 0 5px 0;
    line-height: 1.4;
}

#siteinfo .tel {
    margin: 0 0 5px 0;
}

#siteinfo .campus {
    margin: 0 0 5px 0;
}

#siteinfo .directions {
    margin: 0 0 5px 0;
}

#copyright {
    margin: 0pt;
    font-size: 11px;
    width: 200px;
}

#footer-resources {
    margin: 0 0px 0 20px;
    width: 400px;
    float: left;
    border-left: 1px dotted rgb(217, 184, 250);
}

#footer-resources h2 {
    margin: 0pt 0pt 6px;
}

#footer-resources h2 {
    display: none;
}

#footer-resources h3 {
    margin: 0pt 0pt 6px;
    font-family: 'Helvetica Neue', Arial, verdana, sans-serif;
    font-size: 12px;
    color: rgb(234, 184, 250);
    text-transform: uppercase;
}

#footer-resources li {
    font-size: 11px;
    font-family: verdana, Arial, sans-serif;
}

#footer-resources ul {
    margin: 0pt;
    list-style-type: none;
}

#footer-resources li {
    margin: 0pt 0pt 6px;
    padding: 0 0 0 12px;
    background: transparent url('../images/arrow.png') no-repeat scroll 0px 2px;
}

#footer-resources a {
    padding: 0pt 1px;
}

#footer-resources p {
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue', Arial, verdana, sans-serif;
    font-size: 11px;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

#navResources, #navSocial {
    float: left;
}

#navResources {
    padding: 0 20px 0 20px;
    width: 50%;
}

#navSocial {
    padding: 0 0 10px 0;
    width: 40%;
}

#navQuick {
    float: left;
    padding: 0 0 10px 0;
    width: 40%;
}

.member-logo {
    margin: 0 20px 10px 0;
    padding: 0 0 2px 0;
}

.member-logo a:hover {
    background: none;
    text-decoration: none;
}

#footer-right {
    padding: 0 0 10px 15px;
    margin: 0;
    float: left;
    width: 310px;
    height: 146px;
    background: transparent url('../images/footer-device.png') no-repeat scroll 10px -1px ! important;
    border-left: 1px dotted rgb(217, 184, 250);
}

#footer-right h3 {
    margin: 0pt 0pt 6px;
    font-family: 'Helvetica Neue', Arial, verdana, sans-serif;
    font-size: 12px;
    color: rgb(234, 184, 250);
    text-transform: uppercase;
}

#footer-right p {
    margin: 5px 0 12px 0;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: rgb(255, 255, 255);
}

#footer-right li {
    font-size: 11px;
    font-family: verdana, Arial, sans-serif;
}

#footer-right ul {
    margin: 0pt;
    list-style-type: none;
}

#footer-right li {
    margin: 0pt 0pt 6px;
    padding: 0 0 0 12px;
    background: transparent url('../images/arrow.png') no-repeat scroll 0px 2px;
}

p.centenary {
    padding: 16px 0 0 0;
}

.opacity-toggle img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.opacity-toggle:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    -moz-opacity: 1;
    opacity: 1.0;
}

#navExplore, #navLogos {
    float: left;
}

#navExplore {
    padding: 0 20px 0 5px;
    width: 180px;
}

#navLogos {
    padding: 0 0 10px 0;
}

/*---------------Login Dialog-------------*/

#topnav a {
    text-transform: uppercase;
    margin: 0 0 0 -8px;
    padding: 12px 8px 12px 8px;
}

#topnav a:link {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

#topnav a:visited {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

#topnav a:hover {
    color: rgb(245, 225, 255);
    text-decoration: none;
    background: transparent url('../images/top_nav_bg_active.gif') repeat-x scroll right bottom;
    border-bottom: 1px solid rgb(229, 229, 229);
}

#topnav a:active {
    color: rgb(245, 225, 255);
    text-decoration: none;
    border-bottom: 1px solid rgb(229, 229, 229);
}

#topnav a.menu-open {
    outline: none;
}

#signin_menu {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    display: none;
    background-color: #000000;
    position: absolute;
    width: 210px;
    z-index: 9999;
    opacity: 0.8;
    border: 1px transparent;
    text-align: left;
    padding: 12px;
    right: 0px;
    margin-top: 5px;
    margin-right: 0px;
    color: #ffffff;
    font-size: 11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display: block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #ACE;
    font-size: 13px;
    margin: 0 0 5px;
    padding: 5px;
    width: 203px;
}

#signin_menu p {
    margin: 0;
}

#signin_menu a {
    color: #6AC;
}

#signin_menu label {
    font-weight: normal;
}

#signin_menu p a {
    color: #27B !important;
}

#signin_submit {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #39d url('images/bg-btn-blue.png') repeat-x scroll 0 0;
    border: 1px solid #39D;
    color: #fff;
    text-shadow: 0 -1px 0 #39d;
    padding: 4px 10px 5px;
    font-size: 11px;
    margin: 0 5px 0 0;
    font-weight: bold;
}

#signin_submit::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#signin_submit:hover, #signin_submit:focus {
    background-position: 0 -5px;
    cursor: pointer;
}